a{
    color: red 
       }       
       .r{
           border-right-color:blueviolet;
           
   
       } 
   .f{
   border-bottom-color:blueviolet
   
   }
   .hola{
   
       text-align: center;
       width: 48px;
       height: 48px;
       font-size: 24px;
   
   }
       input{
           
           text-align: center;
           width: 48px;
           height: 48px;
           font-size: 24px;
         }
     
       td {
           border-style:solid ;
           border-color :#000000 ; 
           text-align: center;
           vertical-align: middle;  
          }
          table {
              margin-left: auto ;
              margin-right: auto;
           border: 2px solid #000000;
         }
         #Won{
    color:green; 
    width: 50px;
    height: 70px;
    
    margin-left: auto ;
    margin-right: auto;
   
   
         }