button{
font-size: 40px;
position:relative ;
left:40% ; 
right:28% ;
}
button:hover{
color:red ; 
border-color: blue;
}
body{
    background-image:url("./a.jpg");
}
#Won{
    font-size:30px ;
    color:green; 
}

#Lose{
color:red ; 
font-size:30px

}
a{
color: red 
}       
.r{
    border-right-color:blueviolet;
} 
.f{
   border-bottom-color:blueviolet
   
   }
   .hola{
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 24px;
   
   }
       input{
           
           text-align: center;
           width: 48px;
           height: 48px;
           font-size: 24px;
         }
     
       td {
           border-style:solid ;
           border-color :#000000 ; 
           text-align: center;
          
          }
          table {
              margin-left: auto ;
              margin-right: auto;
           border: 2px solid #000000; 
         }
    